:root {
	--vh: 100%;
}

body {
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;

	// header
	.fp_menu_wrap {
		.fp_menu {

		}
	}

	// fullpage
	.fp_page_wrap {
		// please transition setting
		transition: .8s ease-in-out;

		.fp_page {
			height: calc(var(--vh, 1vh) * 100);
			overflow: hidden;
			overflow-y: auto;
			box-sizing: border-box;

			.fp_scroll_box::-webkit-scrollbar {
				display: none;
			}

			.fp_scroll_box {
				-ms-overflow-style: none;
				scrollbar-width: none;
			}
		}

		footer.fp_page {
			// please height setting
		}
	}

	// navigation 
	.fp_nav_wrap {
		.fp_nav {
			
		}
	}

	// top btn
	.fp_top_btn {
		
	}
}
